<!--<div class='container-fluid'>

<h4  >{{name}}<h4>
<head>

</head>
</br>
  <h4>Hosted by ###### on {{date}}<h4>
  </br>
  <h4 id ='test'>{{place}}<h4>
</div> -->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#/">Event Planner</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav ">

  


    </ul>

  </div>
</nav>
<br>
<br>



<div class='container'>
<div class='row'>
  <div class='col-md-6'>
    <h4> Created By :   {{name}}</h4>
    <br>
    <h4> Start Date :   {{date}}</h4>
    <br>
    <h4> Place :        {{place}}</h4>

  </div>
  <div class='col-md-6'>
 <div id = "sample" style = "width:570px; height:580px;"></div>
<mapper></mapper>
</div>
</div>
</div>
